/*Процент  не заполнения страницы*/
.page-container {
    padding: 5%;
}
/*Запрлнение вправо*/
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
}
/*Эфекты линий таблицы*/
table td, table th {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
/*Разметка Зеброй*/
table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    padding: 15px 0;
    text-align: left;
    background-color: #41af8c;
    color: white;/*цвет текста*/
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btnCont {
    overflow: hidden;
}
/*Цвет кнопок редоктирования*/
.green {
    background: rgb(64, 199, 129);
    float: left;
    margin: 0 5px 5px 5px;
    color: white;
}
/*Цвет кнопок редактирования при наведении*/
.green:hover {
    background: rgb(53, 167, 110);
}
/*Цвет кропки редактирования при нажатии*/
.green:active {
    background: rgb(8, 147, 76);
}
/*Цвет кнопки удаления*/
.blue {
    background: rgb(0, 119, 213); /* фон кнопки */
    float: left;
    color: white;
}


/*Цвет кноаки удаления при наведении*/
.blue:hover {
    background: rgb(5, 73, 194);
}
/*Цвет кноаки удаления при нажатии*/
.blue:active {
    background: rgb(2, 62, 152);
}
/*Поле при добавлении*/
input {
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.trbtn {
    background-color: transparent !important;

}

.trbtn td {
    border: 5px;
}


/*Кнопка обнавления поиска*/
.btn-danger {
    background-color: #0171d9;
    border-color: #06ced4;
    margin: 0px 0 0 10px;
    padding: 13px 20px;
}

.btn-danger1 {
    background-color: #0171d9;
    border-color: #06ced4;
    margin: 0px 0 0 10px;
    padding: 13px 20px;
}
/*Изменение Цвета при наведении на копку обновления поиска*/
.btn-danger:hover {
    color: white;
}

.btn-danger1:hover {
    color: white;
}

/*Поле поиска*/
.form-control {
    display: block;
    width: 50%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
}

.search{
    overflow: hidden;
    margin: 0 0 20px 0;
}

.search input{
    float: left;
    display: block;
}

.search button{
    float: left;
    display: block;
}

.mt14{
    margin-top: 15px;
}

.mt15{
    margin: 0 15px 15px -100px;/*изменение размещения*/
}
*{
    padding: 0;
    margin: 0;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    pointer-events: none;
    z-index: 99999;

}
.modal:target{
    display: block;
    pointer-events: auto;
}

.modal-content{
    width: 200px;
    height: 300px;
    position: relative;
    morging: 10% auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    top: 100px;
    left: 600px;
}

.close{
    width: 200px;
    height: 20px;
    position:absolute ;
    color: #000;
    /*float: right;*/
    font-size: 28px;
    top: 10px;
    left: 210px;
    text-decoration: none;
    display: block;
}
.textReg{
    font-size: 16px;
    margin: 3px;
    color: #9fd4f7;
}

.textRegHead{
    margin: 3px;
    font-size: 1.5em;
    font-family: Georgia;
    letter-spacing: 0.1em;
    color: rgb(58, 102, 176);
    text-shadow: 1px 1px 1px rgba(255,255,255,0.6);

}

.Reg{
    background-color: #f1f9ec;
    width: 130px;
    height: 20px;
    margin: 3px;

}

.login{
    width: 400px;
    overflow: hidden;
}




/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}


/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 1em 1em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}


.error {
    border: 1px solid red;
}

.newImage{
    position: relative;

}